.product{
    margin: 20px;
    width: 30%;
    height: 100%;
    flex-shrink: 0;
}

.product img{
    width: 100%;
}

.product .gender, .price{
    line-height: 0.3;
}

.product .price {
    margin-top: 35px;
}

.product .gender{
    color: rgb(121, 121, 121);
}

.productWrap{
    display: flex;
    overflow: auto;
    position: relative;
    width: 100%;
}

.productWrap::-webkit-scrollbar {
    height: 10px;
}

.productWrap::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
    border-radius: 20px;
    visibility: hidden;
}

.productWrap:hover::-webkit-scrollbar-thumb,
.productWrap:focus::-webkit-scrollbar-thumb,
.productWrap:active::-webkit-scrollbar-thumb {
    visibility:visible;
}

.nameProduct{
    line-height: 20px;
}

@media screen and (max-width: 1400px) {
    h4{
        font-size: 0.9em;
    }
}